<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Magic Polls</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand">Magic Polls</div>
        <div class="d-flex justify-content-end">
            <a class="nav-link" href="/logOut">Log Out</a>
        </div>
    </nav>    
    <div class="container mt-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
          <div class="card-header"><h2>Result</h2></div>
          <div class="card-body">
              <h5><%= poll.name %></h5>
              <p><%= poll.description %></p>
              <form>
                <p><%=poll.options.option1.text%></p>
                <div class="progress m-2">
                    <div class="progress-bar" role="progressbar" style="width: <%=(poll.options.option1.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100 %>%;"><%=poll.options.option1.votes%> - <%=((poll.options.option1.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100).toFixed(0) %>%</div>
                </div>
                <p><%=poll.options.option2.text%></p>
                <div class="progress m-2">
                    <div class="progress-bar" role="progressbar" style="width: <%=(poll.options.option2.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100 %>%;"><%=poll.options.option2.votes%> - <%=((poll.options.option2.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100).toFixed(0) %>%</div>
                </div>
                <p><%=poll.options.option3.text%></p>
                <div class="progress m-2">
                    <div class="progress-bar" role="progressbar" style="width: <%=(poll.options.option3.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100 %>%;"><%=poll.options.option3.votes%> - <%=((poll.options.option3.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100).toFixed(0) %>%</div>
                </div>
                <p><%=poll.options.option4.text%></p>
                <div class="progress m-2">
                    <div class="progress-bar" role="progressbar" style="width: <%=(poll.options.option4.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100 %>%;"><%=poll.options.option4.votes%> - <%=((poll.options.option4.votes/(poll.options.option1.votes+poll.options.option2.votes+poll.options.option3.votes+poll.options.option4.votes))*100).toFixed(0) %>%</div>
                </div>                
                <div class="d-flex justify-content-end mt-4 pt-4 border-top">
                    <a class="link text-white" href="/polls">Return</a>
                </div>   
              </form>
          </div>
        </div>
    </div>
    <script src="static/app.js"></script>
  </body>
</html>